        <footer>
            <br><br>
            <div class="container">


                <div class="row">

                    <div class="col-md-3" id="foot">

                        <p><b> About </b></p>
                        <p><a href='{% url 'AboutUs' %}'>Our Mission</a></p>
                        <p><a href='{% url 'Careers' %}'>Careers</a></p>
                        <p><a href='{% url 'Press' %}'>Press</a></p>
                        <p><a href='{% url 'Partnership' %}'>Partnerships</a></p>
                    </div>

                    <div class="col-md-3" id="foot">
                        <p><b> Support </b></p>
                        <p><a href='{% url 'FAQTutor' %}'>FAQ for Tutors</a></p>
                        <p><a href='{% url 'FAQStudent' %}'>FAQ for Students</a></p>
                        <p><a href='{% url 'Customer_Support' %}'>Customer Support</a></p>
                        <p><a href='{% url 'Tutorials' %}'>Tutorials</a></p>
                    </div>

                    <div class="col-md-3" id="foot">
                        <p><b> Legal</b></p>
                        <p><a href='{% url 'TermsAndCondition' %}'>Terms and Conditions</a></p>
                        <p><a href='{% url 'PrivacyPolicy' %}'>Privacy Policy</a></p>
                        <p><a href='{% url 'Disclaimer' %}'>Disclaimer</a></p>
                        <p><a href='{% url 'RefundPolicy' %}'>Refund Policy</a></p>
                    </div>

                    <div class="col-md-3" id="foot">
                        <p><b> Community </b></p>
                        <p class="text-muted">Blog</p>
                        <p class="text-muted">Forum</p>
                        <p class="text-muted">Affiliates</p>
                        <p class="text-muted">Others</p>
                    </div>

                </div>

                <br>
            </div>

            <p align="center">&copy; Powered by Balance Tech Private Limited. UEN 201621074k</p>


        </footer>